#navbar{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    background-color: aquamarine;
    color: #fa0b0b;
   
    
}

#form>input{
    display: block;
    margin: auto;
}

#user_country{
    display: block;
    margin: auto;
}

#user_form{
    margin-top: 10px;
    border: 1px solid red;
}
